/*

*/
.version.index{color:#0000F8;background-color:#EBE58D;}
#page{z-index:1;min-height4000px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;padding-bottom:1px;width:100%;max-width:960px;margin-left:auto;margin-right:auto;}
#pu548{z-index:327;padding-bottom:44px;width:100%;}
#u548{z-index:327;height:44px;position:fixed;top:0px;}
#u548-bw{z-index:327;}
#u1022-4{z-index:328;width:69px;min-height:22px;position:fixed;top:10px;left:50%;margin-left:-86px;}
#u1022-4:hover{padding-top:0px;padding-bottom:0px;min-height:22px;width:69px;margin:0px 0px 0px -86px;}
#u1018-4{z-index:332;width:139px;min-height:18px;position:fixed;top:10px;left:50%;margin-left:-8px;}
#u1018-4:hover{padding-top:0px;padding-bottom:0px;min-height:18px;width:139px;margin:0px 0px 0px -8px;}
#u1028-4{z-index:336;width:101px;min-height:22px;position:fixed;top:9px;left:50%;margin-left:139px;}
#u1028-4:hover{padding-top:0px;padding-bottom:0px;min-height:22px;width:101px;margin:0px 0px 0px 139px;}
#u1034-4{z-index:340;width:97px;min-height:22px;position:fixed;top:9px;left:50%;margin-left:249px;}
#u1034-4:hover{padding-top:0px;padding-bottom:0px;min-height:22px;width:97px;margin:0px 0px 0px 249px;}
#u1031-4{z-index:344;width:105px;min-height:21px;position:fixed;top:9px;left:50%;margin-left:355px;}
#u1031-4:hover{padding-top:0px;padding-bottom:0px;min-height:21px;width:105px;margin:0px 0px 0px 355px;}
#home{top:-42px;margin-bottom:-18px;position:relative;}
#u990{z-index:12;height:600px;position:fixed;top:44px;}
#u990-bw{z-index:12;}
#slideshowu557{z-index:2;width:0.01px;height:655px;position:fixed;top:44px;left:50%;margin-left:-480px;}
#u558{position:absolute;width:960px;height:655px;left:12px;}
#u558popup{z-index:3;}
#u1397{z-index:4;width:960px;height:655px;margin-right:-10000px;position:relative;}
#u1357{z-index:6;width:960px;height:655px;margin-right:-10000px;position:relative;}
#u1377{z-index:8;width:960px;height:655px;margin-right:-10000px;position:relative;}
#u1337{z-index:10;width:960px;height:655px;margin-right:-10000px;position:relative;}
#u550-11{z-index:261;margin-top:59px;position:relative;width:75.94%;margin-left:11.05%;}
#pu1254{z-index:17;margin-top:148px;width:100%;}
#u1254{z-index:17;height:150px;position:relative;margin-right:-10000px;width:77.82%;left:11.05%;}
#u556-4{z-index:281;min-height:30px;position:relative;margin-right:-10000px;margin-top:5px;width:73.65%;left:13.13%;}
#u2029-12{z-index:285;min-height:27px;position:relative;margin-right:-10000px;margin-top:37px;width:75.21%;left:13.13%;}
#u2065-5{z-index:297;min-height:27px;position:relative;margin-right:-10000px;margin-top:113px;width:16.98%;left:15.21%;}
#ppu1108-4{z-index:0;margin-top:61px;width:100%;}
#pu1108-4{z-index:31;margin-right:-10000px;margin-top:44px;width:65.11%;margin-left:17.5%;}
#u1108-4{z-index:31;min-height:27px;position:relative;width:99.68%;}
#u552-13{z-index:18;min-height:27px;margin-top:34px;position:relative;width:99.68%;}
#u555-6{z-index:255;min-height:75px;margin-top:22px;position:relative;width:100%;}
#u1475{z-index:304;margin-top:22px;position:relative;width:100%;}
#u1538{z-index:308;margin-top:6px;position:relative;width:99.84%;}
#u1467{z-index:302;margin-top:5px;position:relative;width:99.68%;}
.js body{visibility:hidden;}
.js body.initialized{visibility:visible;}
#u1257,#u1257-bw{z-index:13;height:1200px;}
#u1900,#u1900-bw{z-index:13;height:700px;}
#u1260{z-index:14;min-height:1000px;padding-bottom:0px;}
#u1260_align_to_page{margin-left:auto;margin-right:auto;position:relative;padding-top:1px;padding-bottom:195px;}
#aboutminamishimabaracity{position:relative;}
#u1132-4{z-index:35;min-height:27px;margin-top:26px;position:relative;width:64.9%;left:17.61%;}
#u553-18{z-index:43;min-height:27px;margin-top:13px;position:relative;width:64.9%;left:17.5%;}
#u1615{z-index:318;margin-top:18px;position:relative;width:64.9%;left:17.5%;}
#pu1482{z-index:306;margin-top:8px;position:relative;width:100%;}
#u1482{z-index:306;position:relative;margin-right:-10000px;width:46.98%;left:17.5%;}
#u1552{z-index:310;position:relative;margin-right:-10000px;width:17.61%;left:64.8%;}
#u1529-21{z-index:61;min-height:27px;margin-top:34px;position:relative;width:64.9%;left:17.5%;}
#pu1562{z-index:312;margin-top:23px;position:relative;width:100%;}
#u1562{z-index:312;position:relative;margin-right:-10000px;width:21.46%;left:17.5%;}
#u1572{z-index:314;position:relative;margin-right:-10000px;width:42.92%;left:39.48%;}
#u1584{z-index:316;margin-top:5px;position:relative;width:64.9%;left:17.5%;}
#u1535-12{z-index:82;min-height:27px;margin-top:37px;position:relative;width:64.9%;left:17.5%;}
#u1627{z-index:320;margin-top:34px;position:relative;width:64.9%;left:17.5%;}
#u1260-bw{z-index:14;min-height:3307.539733593246px;}
#ppu1183-4{z-index:0;margin-top:490px;width:100%;}
#pu1183-4{z-index:276;padding-bottom:0px;margin-right:-10000px;margin-top:37px;width:64.9%;margin-left:17.5%;}
#u1183-4{z-index:276;min-height:27px;position:relative;width:100%;}
#u1040-89{z-index:166;min-height:27px;top:-7px;margin-bottom:-7px;position:relative;width:100%;}
#u1266,#u1266-bw{z-index:16;height:1382px;}
#minamishimabarahackathon,#info{position:relative;width:22px;margin-right:-10000px;}
#pu1288{z-index:15;width:100%;}
#u1288_align_to_page{margin-left:auto;margin-right:auto;position:relative;padding-top:45px;padding-bottom:69px;}
#u1303-4{z-index:39;min-height:27px;position:relative;width:64.9%;left:17.61%;}
#u1306-72{z-index:94;min-height:27px;margin-top:13px;position:relative;width:64.9%;left:17.5%;}
#u1288,#u1288-bw{z-index:15;min-height:1175px;}
#moushikomi{position:relative;width:22px;margin-right:-10000px;left:4px;}.css_verticalspacer .verticalspacer{height:calc(100vh - 8917px);}
#u1291-5,#u1291-5-bw{z-index:322;min-height:33px;}
#muse_css_mq,.html{background-color:#FFFFFF;}body{position:relative;min-width:320px;}
#u1475_img,#u1538_img,#u1467_img,#u1615_img,#u1482_img,#u1562_img,#u1572_img,#u1584_img,#u1627_img{width:100%;}@font-face{font-family:'__Noto Sans CJK JP_5';src:url('../fonts/notosanscjkjp-black.eot');src:local('☺'), url('../fonts/notosanscjkjp-black.woff') format('woff');font-weight:900;font-style:normal;}@font-face{font-family:'__Noto Sans CJK JP_5';src:url('../fonts/notosanscjkjp-light.eot');src:local('☺'), url('../fonts/notosanscjkjp-light.woff') format('woff');font-weight:300;font-style:normal;}@font-face{font-family:'__Noto Sans CJK JP_5';src:url('../fonts/notosanscjkjp-regular.eot');src:local('☺'), url('../fonts/notosanscjkjp-regular.woff') format('woff');font-weight:400;font-style:normal;}@font-face{font-family:'__Noto Sans CJK JP_5';src:url('../fonts/notosanscjkjp-medium.eot');src:local('☺'), url('../fonts/notosanscjkjp-medium.woff') format('woff');font-weight:500;font-style:normal;}@font-face{font-family:'__Noto Sans CJK JP_5';src:url('../fonts/notosanscjkjp-bold.eot');src:local('☺'), url('../fonts/notosanscjkjp-bold.woff') format('woff');font-weight:700;font-style:normal;}
